.barra{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    background-color: #641333;
    padding: 10px 10px;
    height: 55px;
}

.barra_secundaria{
    display: flex;
    position: fixed;
    top: 55px;
    width: 100%;
    z-index: 1000;
    justify-content: space-between;
    align-items: bottom;
    text-align: center;
    background-color: #641333;
    height: 25px;
}

iframe {
    margin-top: 80px; /* altura de tu navbar */
    width: 100%;
    height: 100%;
    border: none;
}

.botonBarraSecundaria{
    width: 33%;
    background-color:#641333;
    color: white;
    border: none;
    display: flex;
    align-items:end;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
}

.botonBarraSecundaria:hover{
    background-color:white;
    color: #641333;
}

.informacionSesion {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.barra label{
    color:white;
    align-items: center;
    justify-content: center;
}

.barra p{
    color: white;
    margin: 0;
    font-size: 18px;
}

.botonCerrarSesion{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
}
ion-icon{
    position: relative;
    top: 2px;
}

.lupa ion-icon{
    position: relative;
    font-size: 24px;
    top: 2px;
    color: #3c061b;
}

.estado-si{
    position: relative;
    font-size: 24px;
    top: 2px;
    color: green;
}
.estado-no{
    position: relative;
    font-size: 24px;
    top: 2px;
    color: red;
}

.barra form button{
    background-color: #641333;
    color:white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.barra form button:hover{
    color: #641333;
    background-color: white;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal-contenido{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    justify-content:space-between;
    align-items: center;
    margin: 15% auto;
    padding: 0px;
    width: 400px;
    height: 300px;
    
}

#imagenFirma {
    width: 250px;
    height: auto;
    background-color: #F5F5F3;
    border-radius: 10px;
    border: 1px solid #3c061b;
}

.modal-contenido-infoSistema{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    margin: 15% auto;
    padding: 0px;
    width: 350px;
    height: 150px;
}

.modal-contenido-AgregarUsuario{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    margin: 15% auto;
    padding: 0px;
    width: 350px;
    height: 250px;
}

.modal-contenido-infoSistema-mf{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    margin: 15% auto;
    padding: 0px;
    width: 350px;
    height: 250px;
}

.modal-contenido-infoMaestro{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    justify-content:space-between;
    align-items: center;
    margin: 15% auto;
    padding: 0px;
    width: 400px;
    max-width: 500px;
    height: 350px;
}

.indicadorVentana {
    display: flex;
    background-color: #641333;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
    padding: 8px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cuadro_botones_home {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 20px;
}

.botonesHome {
    border-radius: 5px;
    background-color: #641333; /* color del botón */
    color: white;
    border: none;
    font-size: 16px;
    width: 120px;
    height: 30px;
    gap: 10px;
}

.botonesAregarUsuario {
    border-radius: 5px;
    background-color: #641333; /* color del botón */
    color: white;
    border: none;
    font-size: 16px;
    width: 200px;
    height: 30px;
    gap: 10px;
}

.botonesAregarUsuario:hover {
    background-color: #3c061b;
}

.botonesHome:hover {
    background-color: #3c061b;
}

.botonRetirar{
    border-radius: 5px;
    background-color: #641333; /* color del botón */
    color: white;
    border: none;
    font-size: 16px;
    width: 200px;
    height: 30px;
    gap: 10px;
}

.botonRetirar:hover {
    background-color: #3c061b;
}

.botonVentanaConfirmacion{
    border-radius: 5px;
    background-color: #641333; /* color del botón */
    color: white;
    border: none;
    font-size: 16px;
    width: 120px;
    height: 30px;
    gap: 10px;
}

.botonVentanaConfirmacion:hover {
    background-color: #3c061b; /* color del botón */

}

.indicadorVentana label{
    color: white;
    text-align: center;
}

.indicadorVentana span{
    position: absolute;
    color: white;
    right: 10px;
}

#cerrarVentana{
    float: right;
    cursor: pointer;
    font-size: 20px;
}

#cerrarVentana2{
    float: right;
    cursor: pointer;
    font-size: 20px;
}

#cerrarVentanaInfoMaestro{
    float: right;
    cursor: pointer;
    font-size: 20px;
}

#cerrarVentana4{
    float: right;
    cursor: pointer;
    font-size: 20px;
}

#cerrarVentana5{
    float: right;
    cursor: pointer;
    font-size: 20px;
}

canvas {
    width: 80%;
    height: 50%;
    border: 1px solid #641333; 
}

.contenedorBotonesFirma {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px;
}

.botonVentanaFirma {
    font-size: 12px;
    height: 30px;
    width: 30%;
    border-radius: 5px;
    background-color: #641333; /* color del botón */
    color: white;              /* color del texto */
    border: none;   
}

.botonVentanaFirma:hover {
    background-color: #3c061b; /* color del botón */

}

.botonVentanaInfoSistema {
    border-radius: 5px;
    background-color: #641333; /* color del botón */
    color: white;
    border: none;
    width: 20%;
    gap: 10px;
}

.botonVentanaAgregarUsuario {
    border-radius: 5px;
    background-color: #641333; /* color del botón */
    color: white;
    border: none;
    width: 150px;
    gap: 10px;
}



.buscador{
    display:flex;
    margin: 20px;
    justify-content: center;
    gap:10px;
}

.cuadrol{
    width:95%;
    height: 450px;
    max-height: 600px;
    margin: 25px auto;
    background: white;
    padding: 0px;
    border: 1px solid black;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    overflow-y: scroll;
    overflow-x: auto;
}

.cuadrol-sub{
    width:100%;
}

@media (max-width: 1100px) {
    .cuadrol-sub{
        width: 1100px;
    }
}

.fila {
    display: flex;
    flex-wrap: nowrap;
}

.fila > div {
    flex: 0 0 auto;
    padding: 8px;
}

.encabezado{
    position: sticky;
    top: 0px;
    background: #641333;
    color: white;
    z-index: 10;
    align-items: center;
}

#cuerpoTabla .tuplaTabla:hover {
    cursor: pointer;
    background-color: #F5F5F3;
}

#cuerpoTablaUsers .tuplaTabla:hover {
    cursor: pointer;
    background-color: #F5F5F3;
}

.buscador{
    display:flex;
    justify-content: center;
    gap:10px;
}

#tipo {
    cursor: pointer;
}

.botonBuscar {
    border-radius: 5px;
    background-color: #641333; /* color del botón */
    color: white;
    border: none;
    font-size: 16px;
    width: 80px;
    height: 30px;
    gap: 10px;
}

.botonVentanaInfoSistema:hover {
    background-color: #3c061b; /* color del botón */
}

.botonBuscar:hover {
    background-color: #3c061b;
}

.cambiarEstadoAdmin{
    border-radius: 10px;
    width: 100px;
    height: 25px;
    font-size: 12px;
    text-align: center;
    margin: 0%;
}

.cambiarEstadoAdmin[value='0']{
    background-color: white;
    color: #641333;
}

.cambiarEstadoAdmin[value='1']{
    background-color: #641333;
    color: white;
    border: #641333;
}

.pantalla{
    height: calc(100vh - 80px);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-contenido {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-contenido a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.dropdown-contenido a:hover {
    background-color: #f1f1f1;
}
